<Router AppAssembly="@typeof(App).Assembly" AdditionalAssemblies="@LoadedAssemblies">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code{
    private List<System.Reflection.Assembly> LoadedAssemblies = new()
      {
          // typeof(SSBlazorFileManager.Client.Pages.Index).Assembly,
          typeof(SSBlazorFileManager.ClassLibrary.Pages.FileManager).Assembly
    };
}
